<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>مرجع تخصصی برنامه نویسان</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,200,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <!-- Google Font -->
    <!-- Css Files Start -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!-- All css -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap Css -->
    <link rel="stylesheet" type="text/css" href="css/main-slider.css" />
    <!-- Main Slider Css -->
    <!--[if lte IE 10]>
    <link rel="stylesheet" type="text/css" href="css/customIE.css" />
    <![endif]-->
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Css -->
    <link href="css/font-awesome-ie7.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome iE7 Css -->
    <link href="css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome iE7 Css -->
	<!-- color Switcher -->
	<link href="css/switcher.css" rel="stylesheet" type="text/css" />
	<!-- color Switcher -->
    <noscript>
      <link rel="stylesheet" type="text/css" href="css/noJS.css" />
    </noscript>
    <!-- Css Files End -->
	
	<link rel="stylesheet" id="skins" href="css/default.css" type="text/css" media="all"><!-- skins -->
  </head>
  <body data-spy="scroll" data-target=".navbar">
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <!-- Start Main Wrapper -->
    <div class="wrapper">
      <header id="header">
        <section class="container-fluid container">
          <section class="row-fluid">
            <div class="logo span3">
              <h1 id="logo"><a href="index.html"><img src="images/logo.png" alt="Bookish Theme Logo" /></a></h1>
            </div>
			<nav id="nav">
            <div class="navbar navbar-inverse pull-left span9">
              <div class="navbar-inner">
                <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <div class="nav-collapse collapse">
                  <ul class="nav">
                    <li class="active"> <a href="#main_slider">صفحه اصلی</a> </li>
                    <li> <a href="#book_detail_slider">
اطلاعات کتاب
</a> </li>
                    <li> <a href="#features">
ویژگی های کلیدی
</a> </li>
                    <li> <a href="#pricing"> قیمت گذاری</a> </li>
                    <li> <a href="#view"> 
تلفن همراه آماده
 </a> </li>
                    <li> <a href="#author">
درباره نویسنده
</a> </li>
                    <li><a href="#quick_view">

لورم ایپسوم </a></li>
					<li><a href="#reviews">
بررسی کتاب
</a></li>
                  </ul>
                </div>
                <!--/.nav-collapse -->
              </div>
              <!-- /.navbar-inner -->
            </div>
            <!-- /.navbar -->
			</nav>
          </section>
        </section>
      </header>
	
	<!-- Start Main Slider -->
      <section id="main_slider">
        <section class="container-fluid container">
          <section class="row-fluid">
            <ul class="main_slider span12">
              <li>
                <div class="slider_content">
                  <h2> 
سلام & خوش آمدید
 </h2>
                  <h4> 

لورم ایپسوم یا طرح‌نما   </h4>
                  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                  <a href="#" class="purchase"> خرید <span> $15</span> </a>
                </div>
                <div class="slider_img">
                  <img src="images/slider_book.png" alt="Slider image" />
                </div>
              </li>
            </ul>
          </section>
        </section>
        <div class="book_img"> <img src="images/book_after.png" alt="" /></div>
      </section>
	<!-- End Main Slider -->
	
	<!-- Start Book Detail Slider -->
      <section id="book_detail_slider">
        <section class="container-fluid container">
          <section class="row-fluid">
            <figure class="span5 scr-style">
              <div class="side" id="side2">
                <div class="center">
                  <div class="photo">
                    <div class="face">
                      <img src="images/image01.png" alt="">
                    </div>
                    <div class="dos">
                      <img src="images/image02.png" alt="">
                    </div>
                    <div class="container-draggable">
                      <span class="line-separator"></span>
                      <a href="javascript:void(0)" class="btn-drag-watch">&lt; &gt;</a>
                    </div>
                  </div>
                  <div class="cleaner"></div>
                </div>
              </div>
            </figure>
            <figure class="span7">
              <div class="slider_content">
                <h2> 

لورم ایپسوم یا طرح‌نما </h2>
                <h4> <em>  طراحی گرافیک  </em> 
در چرا
<span> 
کسب و کار هرگز
 </span> 
رشد و
 <span>لورم ایپسوم متن ساختگی</span> </h4>
                <figure class="span6 first details">
                  <ul>
                    <li>
                      <strong> مرجع</strong>
                      <p> J031033200 </p>
                    </li>
                    <li>
                      <strong>جنبش</strong>
                      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
                    </li>
                    <li>
                      <strong>نشانه</strong>
                      <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </p>
                    </li>
                    <li>
                      <strong>برنامه ریزی</strong>
                      <p> 69 jewels </p>
                    </li>
                    <li>
                      <strong>اجرای</strong>
                      <p> 48 hours </p>
                    </li>
                    <li>
                      <strong> فرکانس </strong>
                      <p> 18,000 v.p.h </p>
                    </li>
                  </ul>
                </figure>
                <figure class="span6 details">
                  <ul>
                    <li>
                      <strong>مرجع</strong>
                      <p> J031033200 </p>
                    </li>
                    <li>
                      <strong>جنبش</strong>
                      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                    </li>
                    <li>
                      <strong>نشانه</strong>
                      <p>لورم ایپسوم متن ساختگی با تولید سادگی</p>
                    </li>
                    <li>
                      <strong>برنامه ریزی</strong>
                      <p> 69 jewels </p>
                    </li>
                    <li>
                      <strong>اجرای</strong>
                      <p> 48 hours </p>
                    </li>
                    <li>
                      <strong>فرکانس</strong>
                      <p> 18,000 v.p.h </p>
                    </li>
                  </ul>
                </figure>
                <a href="#" class="purchase2">$20.00 
خرید کتاب
 </a>
              </div>
            </figure>
          </section>
        </section>
      </section>
	<!-- End Book Detail Slider -->

	<!-- Start Features Boxes -->
	  <section id="features" class="ptb">
        <section class="container-fluid container">
          <section class="row-fluid">
            <h2>
کلید امکانات
</h2>
            <h4> <span> 

لورم ایپسوم یا طرح‌نما  </span>متن ساختگی با تولید سادگی</h4>
            <p>کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد</p>
            <ul class="span12" id="feature_list">
              <li class="span3 first">
                <div class="feature_box span10 first">
                  <span class="f_num"> #1 </span>
                  <a href="#"> <img src="images/f1.png" alt="Feature" /> </a>
                </div>
                <h3>
طراحی نوآورانه
</h3>
              </li>
              <li class="span3">
                <div class="feature_box span10 first">
                  <span class="f_num"> #2 </span>
                  <a href="#"> <img src="images/f2.png" alt="Feature" /> </a>
                </div>
                <h3>
موفقیت نژاد
</h3>
              </li>
              <li class="span3">
                <div class="feature_box span10 first">
                  <span class="f_num"> #3 </span>
                  <a href="#"> <img src="images/f3.png" alt="Feature" /> </a>
                </div>
                <h3>
ایجاد مخاطب
</h3>
              </li>
              <li class="span3">
                <div class="feature_box span10 first">
                  <span class="f_num"> #4 </span>
                  <a href="#"> <img src="images/f4.png" alt="Feature" /> </a>
                </div>
                <h3>
بهبود هویت
</h3>
              </li>
            </ul>
            <a href="#" class="view_feature"> 
تمام امکانات
 </a>
          </section>
        </section>
      </section>
	<!-- End Features Boxes -->
	
	<!-- Start Parallax Section -->
      <section id="parallax">
        <h1>
کمال به دست آورد
 </h1>
      </section>
	<!-- End Parallax Section -->
	
	<!-- Start Pricing Section -->
      <section id="pricing" class="ptb">
        <section class="container-fluid container">
          <section class="row-fluid">
            <h2> 
قیمت گذاری عالی
 </h2>
            <h4> <span>

لورم ایپسوم یا طرح‌نما</span>

لورم ایپسوم یا طرح‌نما </h4>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد </p>
            <section id="prixing_box" class="span12">
              <figure class="span6 first">
                <h2>
نشان نام پی دی اف
</h2>
                <span class="bPrice"> $ <span>25 </span> /چوب</span>
                <ul>
                  <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</li>
                  <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</li>
                  <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</li>
                </ul>
              </figure>
              <figure class="span6">
                <h2> 
چاپ نام مدالها
 </h2>
                <span class="bPrice"> $ <span>37 </span> /چوب </span>
                <ul>
                  <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </li>
                  <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</li>
                  <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</li>
                </ul>
              </figure>
            </section>
          </section>
        </section>
      </section>
	<!-- End Pricing Section -->
	  
	<!-- Start Mobile Slider Section -->
      <section id="view">
        <section class="view_head ptb">
          <h1> 
موبایل آماده

            <span>
آن را در دستگاه های مورد علاقه خود را بخوانید!
</span>
          </h1>
        </section>
        <section class="container-fluid container" dir="ltr">
          <section class="row-fluid">
            <figure class="mobile_slider">
              <ul id="mobile_slider">
                <li>  <img src="images/slider_mobile_1.png" alt="" />  </li>
                <li>  <img src="images/image08.png" alt="" />  </li>
				<li>  <img src="images/image09.png" alt="" />  </li>
              </ul>
            </figure>
            <h4> طراحی <span> 
روح اساسی
 </span>
خلقت بشر ساخته شده است که به پایان می رسد
 <span> 
خود را بیان
 </span> 
در پی در پی از لایه های بیرونی
 <em> 
محصول و یا خدمات
 </em>.  </h4>
          </section>
        </section>
        <section class="container-fluid container ptb">
          <section class="row-fluid">
            <figure class="view_quote span6">
              <h1>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</h1>
            </figure>
            <figure class="span6 view_quote">
              <h4>
دانلود نمونه رایگان از کتاب:
</h4>
              <i class="icon-off"></i>  
              <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p>
            </figure>
          </section>
        </section>
      </section>
	<!-- Start Mobile Slider Section -->

	<!-- Start About The Author -->
      <section id="author" class="ptb" >
        <section class="container-fluid container">
          <section class="row-fluid">
            <figure class="span6">
              <h2>
درباره نویسنده
</h2>
              <span class="author_name">البرز الهامیان</span>
              <span class="author_status">
نویسنده منتشر شده
</span>
              <p> کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد </p>
              <p>  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p>
              <a href="#" class="req_inf">
درخواست اطلاعات
</a>
            </figure>
            <figure class="span6 author_slider" dir="ltr">
              <ul id="author_slider">
                <li> <img src="images/image07.jpg" alt="" /></li>
                <li> <img src="images/image07.jpg" alt="" /></li>
              </ul>
            </figure>
          </section>
        </section>
      </section>
    <!-- End About The Author -->

	<!-- Start Scroll Gallery -->
	  <section id="quick_view" class="ptb">
        <section class="container-fluid container">
          <section class="row-fluid">
            <h1> 
اوج سریع به کتاب
 </h1>
            <h4>
همه چیز شما را با این کتاب یاد بگیرند نیست
<span> 
در توضیح مختصری توضیح داده شود
 </span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است <em>

لورم ایپسوم یا طرح‌نما </em> </h4>
          </section>
        </section>
      </section>
      <section id="scrollgallery" dir="ltr">
        <div class="book-col">
          <img src="images/image03.jpg" alt="">
          <div class="book-cap">
            <strong class="title">صفحه 5</strong>
            <p>
در چیزهایی که
<span>
به شما خواهد آموخت
</span></p>
          </div>
        </div>
        <div class="book-col">
          <img src="images/image04.jpg" alt="">
          <div class="book-cap">
            <strong class="title">صفحه 5</strong>
            <p>
در چیزهایی که
<span>
به شما خواهد آموخت
</span></p>
          </div>
        </div>
        <div class="book-col">
          <img src="images/image05.jpg" alt="">
          <div class="book-cap">
            <strong class="title">صفحه 5</strong>
            <p>
در چیزهایی که
<span>
به شما خواهد آموخت
</span></p>
          </div>
        </div>
        <div class="book-col">
          <img src="images/image06.jpg" alt="">
          <div class="book-cap">
            <strong class="title">صفحه 5</strong>
           <p>
در چیزهایی که
<span>
به شما خواهد آموخت
</span></p>
          </div>
        </div>
        <div class="book-col">
          <img src="images/image03.jpg" alt="">
          <div class="book-cap">
            <strong class="title">صفحه 5</strong>
           <p>
در چیزهایی که
<span>
به شما خواهد آموخت
</span></p>
          </div>
        </div>
        <div class="book-col">
          <img src="images/image04.jpg" alt="">
          <div class="book-cap">
            <strong class="title">صفحه 5</strong>
          <p>
در چیزهایی که
<span>
به شما خواهد آموخت
</span></p>
          </div>
        </div>
        <div class="book-col">
          <img src="images/image05.jpg" alt="">
          <div class="book-cap">
            <strong class="title">صفحه 5</strong>
           <p>
در چیزهایی که
<span>
به شما خواهد آموخت
</span></p>
          </div>
        </div>
        <div class="book-col">
          <img src="images/image06.jpg" alt="">
          <div class="book-cap">
            <strong class="title">صفحه 5</strong>
          <p>
در چیزهایی که
<span>
به شما خواهد آموخت
</span></p>
          </div>
        </div>
        <div class="book-col">
          <img src="images/image03.jpg" alt="">
          <div class="book-cap">
            <strong class="title">صفحه 5</strong>
          <p>
در چیزهایی که
<span>
به شما خواهد آموخت
</span></p>
          </div>
        </div>
        <div class="book-col">
          <img src="images/image04.jpg" alt="">
          <div class="book-cap">
            <strong class="title">صفحه 5</strong>
          <p>
در چیزهایی که
<span>
به شما خواهد آموخت
</span></p>
          </div>
        </div>
        <div class="book-col">
          <img src="images/image05.jpg" alt="">
          <div class="book-cap">
            <strong class="title">صفحه 5</strong>
           <p>
در چیزهایی که
<span>
به شما خواهد آموخت
</span></p>
          </div>
        </div>
        <div class="book-col">
          <img src="images/image06.jpg" alt="">
          <div class="book-cap">
            <strong class="title">صفحه 5</strong>
          <p>
در چیزهایی که
<span>
به شما خواهد آموخت
</span></p>
          </div>
        </div>
        <div class="book-col">
          <img src="images/image03.jpg" alt="">
          <div class="book-cap">
            <strong class="title">صفحه 5</strong>
           <p>
در چیزهایی که
<span>
به شما خواهد آموخت
</span></p>
          </div>
        </div>
        <div class="book-col">
          <img src="images/image04.jpg" alt="">
          <div class="book-cap">
            <strong class="title">صفحه 5</strong>
          <p>
در چیزهایی که
<span>
به شما خواهد آموخت
</span></p>
          </div>
        </div>
        <div class="book-col">
          <img src="images/image05.jpg" alt="">
          <div class="book-cap">
            <strong class="title">صفحه 5</strong>
          <p>
در چیزهایی که
<span>
به شما خواهد آموخت
</span></p>
          </div>
        </div>
        <div class="book-col">
          <img src="images/image06.jpg" alt="">
          <div class="book-cap">
            <strong class="title">صفحه 5</strong>
          <p>
در چیزهایی که
<span>
به شما خواهد آموخت
</span></p>
          </div>
        </div>
      </section>
    <!-- End Scroll Gallery -->

	<!-- Start Reviews Section -->
      <section id="reviews" class="ptb">
        <section class="container container-fluid">
          <section class="row-fluid">
            <h2>
خواندن این بررسی بزرگ
</h2>
            <h4> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</h4>
            <section class="main-slider">
              <div class="bb-custom-wrapper">
                <span class="t-ar-l"> </span>
                <span class="t-ar-r"> </span>
                <div class="bb-bookblock" id="bb-bookblock" >
                  <div class="bb-item" style="display: block;">
                    <div class="book_flip_inner">
                      <figure class="span5 review_list first">
                        <ul class="review_list">
                          <li>
                            <i class="icon-quote-right"></i>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                            <strong> - 

لورم ایپسوم  </strong>
                          </li>
                          <li>
                            <i class="icon-quote-right"></i>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                            <strong> - 

لورم ایپسوم </strong>
                          </li>
                          <li>
                            <i class="icon-quote-right"></i>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                            <strong> - 

لورم ایپسوم  </strong>
                          </li>
                        </ul>
                      </figure>
                      <figure class="span5 review_list pull-left">
                        <ul class="review_list">
                          <li>
                            <i class="icon-quote-right"></i>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                            <strong> - 

لورم ایپسوم  </strong>
                          </li>
                          <li>
                            <i class="icon-quote-right"></i>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                            <strong> - 

لورم ایپسوم  </strong>
                          </li>
                          <li>
                            <i class="icon-quote-right"></i>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                            <strong> - 

لورم ایپسوم </strong>
                          </li>
                        </ul>
                      </figure>
                    </div>
                  </div>
                </div>
                <nav class="bb-custom-nav"> <a class="right-arrow" id="bb-nav-prev" href="#">Previous</a> <a class="left-arrow" id="bb-nav-next" href="#">Next</a> </nav>
                <div id="book_pages"> <img src="images/book_after_2.png" alt="" /></div>
              </div>
            </section>
          </section>
        </section>
      </section>
	<!-- End Reviews Section -->

	<!-- Start Newsletter Section -->
      <section id="newsletter" class="ptb">
        <section class="container container-fluid">
          <section class="row-fluid">
            <figure class="span7">
              <h2> 
عضویت در خبرنامه ما!
 </h2>
              <h4> 
برای فصل رایگان
<span> 
ما newletter را دریافت کنید!
</span> </h4>
            </figure>
            <figure class="span5">
              <form id="newsletter_form" method="post" action="#">
                <input type="text" value="domain@myhosting.com" name="newsletter_form" />
                <input type="submit" value="
مشترک شدن در
" /> 
              </form>
            </figure>
          </section>
        </section>
      </section>
    <!-- End Newsletter Section -->

	<!-- Start Footer Section -->
	  <section id="footer" class="ptb">
        <section class="container container-fluid">
          <section class="row-fluid">
            <figure class="span7">
              <nav>
                <ul>
                  <li> <a href="index.html">صفحه اصلی</a></li>
                  <li> <a href="blog.html"> وبلاگ </a> </li>
                  <li> <a href="blog-single.html"> جزییات وبلاگ</a> </li>
				  <li> <a href="blog-without-sidebar.html">
وبلاگ تمام پهنا
</a> </li>
				  <li> <a href="contact.html">تماس با ما</a> </li>
                </ul>
              </nav>
            </figure>
            <figure class="span5"> 

کپی رایت@2015 تمام حقوق مادی و معنوی این سایت متعلق به گروه برنامه نویسان میباشد
</figure>
          </section>
        </section>
      </section>
    <!-- End Footer Section -->
	</div>

	<div class="switcher"></div>

    <!-- End Main Wrapper -->
    <!-- JS Files Start -->
    <script type="text/javascript" src="js/lib.js"></script><!-- lib Js -->
    <script type="text/javascript" src="js/lib-1-7-2.js"></script><!-- lib Js -->
    <script type="text/javascript" src="js/jquer_ui-1-8-3.js"></script> <!-- UI Library -->
    <script type="text/javascript" src="js/modernizr.js"></script><!-- Modernizr -->
    <script type="text/javascript" src="js/easing.js"></script><!-- Easing js -->
    <script type="text/javascript" src="js/bootstrap.js"></script><!-- Bootstrap -->
    <script type="text/javascript" src="js/bxslider.js"></script><!-- BX Slider -->
    <script type="text/javascript" src="js/input-clear.js"></script><!-- Input Clear -->
    <script type="text/javascript" src="js/social.js"></script><!-- Social Icons -->
    <script type="text/javascript" src="js/mousewheel.min.js"></script><!-- Mousewheel -->
    <script type="text/javascript" src="js/mCustomScrollbar.min.js"></script><!-- Modren Custom Scrollbar -->
    <script type="text/javascript" src="js/bookblock.js"></script><!-- Flip Slider -->
    <script type="text/javascript" src="js/smooth-scroll.js"></script> <!-- SmoothScroll -->
    <script type="text/javascript" src="js/smoothscroll_1.js"></script> <!-- jQuery  Gallery Scroll -->
    <script type="text/javascript" src="js/smoothscroll_2.js"></script> <!-- jQuery  Gallery Scroll -->
    <script type="text/javascript" src="js/smoothscroll_3.js"></script> <!-- jQuery  Gallery Scroll -->
	<script type="text/javascript" src="js/smoth-scrolling.js"></script><!-- smoth-scrolling js -->
	<script type="text/javascript" src="js/custom.js"></script><!-- Custom js -->
	<script type="text/javascript" src="js/cockies.js"></script><!-- Cookie js -->
	<script type="text/javascript" src="js/colorswitcher.js"></script><!-- Color Switcher js -->
    <!-- Preloader -->
    <!-- JS Files End -->
    <noscript>
      <style type="text/css" scoped>
        #socialicons>a span { top: 0px; right: -100%; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s 	ease-in-out;}
        #socialicons>ahover div{right: 0px;}
      </style>
    </noscript>
    <script type="text/javascript">
      /* <![CDATA[ */
      $(document).ready(function () {
	  $("#scrollgallery").smoothDivScroll({touchScrolling: true, manualContinuousScrolling: true, visibleHotSpotBackgrounds: "always", autoScrollingMode: "onstart"});
		$('#nav').scrollspy()		 });						$("#scrollgallery").bind("mouseover", function(){    		 		    $("#scrollgallery").smoothDivScroll("stopAutoScrolling"); 		 });	  		 		 		 $("#scrollgallery").bind("mouseout", function(){    		 		    $("#scrollgallery").smoothDivScroll("startAutoScrolling"); 		 });	  
      
      $(window).load(function() {  
      	$("#scrollgallery").fadeIn(300);
      });
      /* ]]> */
    </script>
  </body>
</html>
